<div class="row">
  <div class="col-md-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Player Name" [formControl]="playerNameForm"
                [errorStateMatcher]="matcher">
        <mat-error *ngIf="!playerNameForm.hasError('required')">
          Please enter a valid name
        </mat-error>
        <mat-error *ngIf="playerNameForm.hasError('required')">
          Player name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
